#editor{
	#draggable{
		position: absolute;
		left: 80%;
		top: 100px;
		width: 200px;
		resize: both;
		overflow: hidden;
		background-color: black;
		border-radius: 10px;
		z-index: 1001;
		color: rgb(13, 139, 217);
	}
	#ace{
		margin-bottom: 20px;
		box-shadow: 0 0 10px rgb(13, 139, 217), 0 0 10px rgb(13, 139, 217);
		height:700px; 
		width: 100%;
		/*resize: both;*/
		/*overflow: hidden;*/
		z-index: 1001;
		transition: All 1s;
		.ace_layer.ace_print-margin-layer {
  			width: 100%;
  			display: none;
		}
	}
	.ace_scrollbar-v{
		/*display: none;*/
	}
	input.ace_search_field {
  color: black;
	}
/*	.flex{
		display: flex;
	}*/
	div.justified{
		display: flex;
		justify-content: space-around;
		button, input{
		color: #fff;
  		background-color: rgb(13, 139, 217);
  		border-color: white;
			width: 111px;
			transition: All 0.5s;
		}
		input{
			width: 222px;
		}
		button:hover{
			background-color: rgb(0, 75, 190);
		}
	}
	div#viewer{
		position: absolute;
		left: 0;
		top: 0;
		opacity:0.5;
		background-color: black;
		width: 100%;
		height: 130%;
		z-index: 999;
		iframe{
			margin-top: 100px;
			margin-left: 5%;
			box-shadow: 0 0 10px rgb(13, 139, 217), 0 0 10px rgb(13, 139, 217);
			width: 90%;
			height: 55%;
			z-index: 1000;
		}
	}
	h1{
	text-align: center;
		color: black;
  		text-shadow: -3px 3px 14px #0d8bd9, 3px -3px 14px #0d8bd9, -3px -3px 14px #0d8bd9, 3px 3px 14px #0d8bd9;	
  	}
	.editor{
		margin-left: 5%;
		margin-right: 1%;
		margin-top: 19px;
		width: 90%;
		border: dashed black 1px;
	}
	.margining{
		margin-top: -30px;
		margin-left: 2%;
		margin-right: 1%;
		width: 31.5%;
		height: 1000px;
		border: dashed black 1px;
	}

	.console{
		box-shadow: 0 0 10px rgb(13, 139, 217), 0 0 10px rgb(13, 139, 217);
		h4{
			margin: 0;
			text-align: center;
			color: #0000ff;
			/*text-shadow: -3px 3px 14px #0d8bd9, 3px -3px 14px #0d8bd9, -3px -3px 14px #0d8bd9, 3px 3px 14px #0d8bd9;*/
			background:-webkit-gradient(linear, 100% 18%, 100% 100%, from(silver), to(rgb(92, 92, 92)));
			width: 100%;
			border-radius: 10px;
			border: solid 1px silver;
		}
	}
}

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes fadeInRight { 
    0% { 
        opacity: 0;  
    } 
    100% { 
        opacity: 1; 
    } 
} 
@keyframes fadeInRight { 
    0% { 
        opacity: 0;  
    } 
    100% { 
        opacity: 1; 
    } 
} 

.fadeInRight { 
    -webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight; 
}