* {
  box-sizing: border-box; }
  * body {
    background: black; }

#events {
  color: black;
  text-shadow: -3px 3px 14px #0d8bd9, 3px -3px 14px #0d8bd9, -3px -3px 14px #0d8bd9, 3px 3px 14px #0d8bd9; }
  #events .btn {
    border: outset 5px #0d8bd9; }
  #events button {
    text-shadow: none;
    background-color: black;
    color: white; }
    #events button:btn {
      border-color: #0d8bd9; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

navbar {
  display: block; }
  navbar .justified {
    display: flex;
    justify-content: space-around; }
    navbar .justified> {
      width: 80%; }
  navbar #navbar {
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    background: #0D8BD9;
    box-shadow: 0 0 25px white, 0 0 25px white; }
    navbar #navbar h1 {
      margin-top: 14px;
      text-shadow: 3px 3px 14px black, -3px -3px 14px black, -3px 3px 14px black, 3px -3px 14px black; }
    navbar #navbar fullstack-logo {
      padding-top: 10px;
      margin-right: 20px;
      width: 30px; }
    navbar #navbar a {
      width: 75px;
      color: white;
      transition: All 0.5s; }
      navbar #navbar a:hover {
        box-shadow: inset 0 0 10px white;
        background: transparent; }
    navbar #navbar .nav > li > a {
      min-height: 70px;
      cursor: pointer; }
      navbar #navbar .nav > li > a.active {
        color: #9ED628;
        box-shadow: inset 0 0 10px black;
        background-color: #004bbe; }
      navbar #navbar .nav > li > a:focus {
        color: #9ED628;
        background: #004bbe; }
    navbar #navbar .login-button {
      float: right;
      margin-top: 8px; }
    navbar #navbar .welcome {
      float: right;
      margin-top: 12px; }
      navbar #navbar .welcome span {
        color: white; }
      navbar #navbar .welcome a {
        color: #9ED628;
        cursor: pointer; }

#home fullstack-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto; }
#home .carousel-caption {
  padding-bottom: 65px; }
#home .carousel-indicators {
  bottom: 50px; }
  #home .carousel-indicators li {
    width: 20px;
    height: 20px; }
  #home .carousel-indicators li.active {
    width: 20px;
    height: 20px; }
#home img.slide {
  width: 80%;
  margin-left: 10%; }
#home h1 {
  margin-top: 40px;
  text-align: center; }

#about {
  padding-bottom: 50px; }
  #about p {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: justify;
    font-size: 25px;
    font-weight: 300; }
  #about img {
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px; }

tutorial-section {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 20px 0 60px 0;
  color: #2794DD; }
  tutorial-section > h1 {
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: bold; }

tutorial-video {
  display: block;
  width: 600px;
  margin: 0 auto; }
  tutorial-video h1 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px; }
  tutorial-video iframe {
    width: 600px;
    height: 400px; }

tutorial-section-menu {
  display: block; }
  tutorial-section-menu:after {
    content: "";
    display: table;
    clear: both; }
  tutorial-section-menu ul {
    margin-left: 23px;
    list-style-type: none;
    font-weight: 300; }
    tutorial-section-menu ul li {
      float: left;
      margin-right: 40px;
      padding: 10px;
      cursor: pointer; }
      tutorial-section-menu ul li:hover {
        background: #f3f3f3; }

#login-form {
  width: 60%;
  margin: 0 auto; }

#navbar {
  color: #2794DD; }
  #navbar .navbar-inverse {
    background-color: #292A2C; }
  #navbar .navbar-inverse .navbar-brand {
    color: #2794DD; }
  #navbar .navbar-inverse .navbar-nav li a {
    color: #2794DD; }
  #navbar .navbar-inverse .navbar-nav .active a {
    text-shadow: -3px -3px 7px #2794DD, -2px -2px 7px #2794DD, 2px 2px 7px #2794DD, 3px 3px 7px #2794DD; }

#editor .flex {
  display: flex; }
#editor div.justified {
  display: flex;
  justify-content: space-around; }
  #editor div.justified button, #editor div.justified input {
    color: #fff;
    background-color: #0d8bd9;
    border-color: white;
    width: 111px;
    transition: All 0.5s; }
  #editor div.justified button:hover {
    background-color: #004bbe; }
#editor div#viewer {
  margin-left: 1%;
  margin-right: 2%;
  width: 62%;
  height: 900px; }
  #editor div#viewer iframe {
    box-shadow: 0 0 10px #0d8bd9, 0 0 10px #0d8bd9;
    width: 100%;
    height: 900px; }
#editor h1 {
  text-align: center;
  color: black;
  text-shadow: -3px 3px 14px #0d8bd9, 3px -3px 14px #0d8bd9, -3px -3px 14px #0d8bd9, 3px 3px 14px #0d8bd9; }
#editor h4 {
  text-align: center;
  color: black;
  text-shadow: -3px 3px 14px #0d8bd9, 3px -3px 14px #0d8bd9, -3px -3px 14px #0d8bd9, 3px 3px 14px #0d8bd9; }
#editor .editor {
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 19px;
  width: 31%;
  height: 1000px;
  border: dashed black 1px; }
#editor .margining {
  margin-top: -30px;
  margin-left: 2%;
  margin-right: 1%;
  width: 31.5%;
  height: 1000px;
  border: dashed black 1px; }
#editor #ace {
  margin-bottom: 20px;
  box-shadow: 0 0 10px #0d8bd9, 0 0 10px #0d8bd9; }
#editor .console {
  margin-top: -150px;
  width: 100%;
  height: 200px;
  border: dashed #0d8bd9 2px; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }
