<section id="editor">
	<div class="container" ng-controller="mainEditorCtrl">
		<div  ng-hide="false" ng-model="eventsObj">
			<pre id="eventsObj-eventID">{{eventsObj}}</pre>
		</div>

 	    <div ng-controller="PlayCanvasEditorCtrl" class="col-lg-12 col-sm-12">
	    	<iframe ng-if="simLaunched" ng-src="{{playCanvasURL}}" style="width:100%;height:500px;"></iframe> 	    
		    <div ng-controller="CodeEditorCtrl" class="col-lg-12 col-sm-12" style="width:100%;height:1200px;border: dashed black 1px;">
				<h4>Code Editor</h4>
				<div ng-model="bot.botCode" ui-ace="{
												useWrapMode : true,
												showGutter: true,
												theme:'monokai',
												mode: 'javascript',
												showPrintMargins: true,
												onLoad: aceLoaded,
												onChange: aceChanged
												}" style="height:70%; width: 100%; font-family: monospace;">
				</div>
                <input ng-model="bot.botname" type="text" placeholder="{{bot.botname}}" id="botname">
                <button ng-click="saveBot()" type="submit" class="btn btn-success">Save</button>
                <button ng-click="simBot()" type="submit" class="btn btn-success">Practice</button>
                <button ng-click="compete()" type="submit" class="btn btn-success">Compete</button>
			</div>
		    <div class="col-lg-6 col-sm-12" style="width:100%;height:200px;border: dashed black 1px;">
		    	<h4>Console</h4>
		    </div>		    
	    </div>
	    
    </div>	    
</section>