<section id="editor">
	<div ng-controller="mainEditorCtrl">
		<div ng-controller="SelectBotModalCtrl">
			<div class='modalBackground' ng-class="{hideSelectBotModal: bot._id !== undefined}" ng-click="">
					<div class='modalSelectBot' ng-class="{hideSelectBotModal: bot._id !== undefined}">
						<div>
							<!-- title -->
							<h3> Select a Bot</h3>
							<pre>{{bot._id===undefined}}<br>{{ bot.botname }}<br>{{ bot._id }}</pre>
							<!-- content -->
							<select ng-options="bot.botname for bot in botList" ng-model="botId" ng-change="selectBot(botId)">
							</select>
							<!-- cancel button -->
		                	<br><button ng-click="blankBot()" type="submit" class="btn btn-success">Blank Bot</button>
						</div>
					</div>
			</div>
		</div>
		<div  ng-hide="false" ng-model+="eventsObj" >

	<!-- 		<h1 id="eventsObj-eventID" ng-show="eventsObj.eventID" class="animated fadeInRight" >Room: {{eventsObj.eventID}}</h1> -->

		</div>
 	    <div ng-controller="PlayCanvasEditorCtrl" class="col-lg-12 col-sm-12">   
		    <div class="editor animated fadeInRight"  ng-controller="CodeEditorCtrl">
				<h4>Code Editor</h4>
				<div id="ace" ng-model="bot.botCode" ui-ace="{
												useWrapMode : true,
												showGutter: true,
												theme:'monokai',
												mode: 'javascript',
												showPrintMargins: true,
												onLoad: aceLoaded,
												onChange: aceChanged
												}" style=" font-family: monospace;">
				</div>
				<div class="justified">
					<div>
	                	<input ng-model="bot.botname" type="text" placeholder="{{bot.botname}}" id="botname">
	                </div>
	                <div>
	                	<button ng-click="saveBot()" type="submit" class="btn btn-success">Save</button>
	                </div>
	                <div>	
	                	<button ng-click="simBot(); editorToggle()" type="submit" class="btn btn-success">Practice</button>
	                </div>
	                <div>
	                	<button ng-click="compete(); editorToggle()" type="submit" class="btn btn-success">Compete</button>
	                </div>
	            </div>    
			</div>
			<div id="draggable" class="console" >
		   		   	<h4>Draggable Console</h4>
		   		    <p>{{editorOn}}{{simLaunched}}</p>
		   	</div> 
	   	    <div id="viewer" ng-click="editorToggle()" ng-if="simLaunched && !editorOn" class="animated fadeInRight">
	   	    	<iframe  id="iframe" ng-src="{{playCanvasURL}}" ></iframe>
	   	    </div>   
	    </div>
		<script>
			$(function() {
				$( "#draggable" ).draggable({ handle: "h4" });
			});
		</script>  
    </div>	    
</section>