<section id="editor">
	<div ng-controller="mainEditorCtrl">
		<div ng-controller="SelectBotModalCtrl">
			<div class='modalBackground' ng-class="{hideSelectBotModal: bot._id !== undefined}" ng-click="">
					<div class='modalSelectBot' ng-class="{hideSelectBotModal: bot._id !== undefined}">
						<div>
							<!-- title -->
							<h3> Select a Bot</h3>
							<pre>{{bot._id===undefined}}<br>{{ bot.botname }}<br>{{ bot._id }}</pre>
							<!-- content -->
							<select ng-options="bot.botname for bot in botList" ng-model="botId" ng-change="selectBot(botId)">
							</select>
							<!-- cancel button -->
		                	<br><button ng-click="blankBot()" type="submit" class="btn btn-success">Blank Bot</button>
						</div>
					</div>
			</div>
		</div>
		<div  ng-hide="false" ng-model+="eventsObj" >
			<h1 id="eventsObj-eventID" ng-show="eventsObj.eventID" class="animated fadeInRight" >Room: {{eventsObj.eventID}}</h1>
		</div>

 	    <div class="flex" ng-controller="PlayCanvasEditorCtrl" class="col-lg-12 col-sm-12">   
		    <div class="editor animated fadeInRight" ng-class="{'margining':eventsObj.eventID}" ng-controller="CodeEditorCtrl">
				<h4>Code Editor</h4>
				<div id="ace" ng-model="bot.botCode" ui-ace="{
												useWrapMode : true,
												showGutter: true,
												theme:'monokai',
												mode: 'javascript',
												showPrintMargins: true,
												onLoad: aceLoaded,
												onChange: aceChanged
												}" style="height:70%; width: 100%; font-family: monospace;">
				</div>
				<div class="justified">
					<div>
	                	<input ng-model="bot.botname" type="text" placeholder="{{bot.botname}}" id="botname">
	                </div>
	                <div>
	                	<button ng-click="saveBot()" type="submit" class="btn btn-success">Save</button>
	                </div>
	                <div>	
	                	<button ng-click="simBot()" type="submit" class="btn btn-success">Practice</button>
	                </div>
	                <div>
	                	<button ng-click="compete()" type="submit" class="btn btn-success">Compete</button>
	                </div>
	            </div>    
			</div>
		   	<div id="viewer" ng-if="simLaunched" class="animated fadeInRight">
	    		<iframe  ng-src="{{playCanvasURL}}" style="width:100%;height:800px;"></iframe> 	
	    	</div>     
	    </div>
	     <div class="console col-lg-6 col-sm-12" >
		    	<h4>Console</h4>
		    </div>	
	    
    </div>	    
</section>