<section id="leader"> 
	<div class="justified " ng-controller="LeaderBoardController">
		<div class="group">
			<h2>User Rank</h2>
			<div class="justified">
				
				<div class="row">
					<h4>User Name</h4>
					<h6 ng-repeat="user in userRank">{{user.username}}</h6>
				</div>
				<div class="row">
					<h4>Rank</h4>
					<h6 ng-repeat="user in userRank">{{user.rank}}</h6>
				</div>
				<div class="row">
					<h4>Points</h4>
					<h6 ng-repeat="user in userRank">{{user.points}}</h6>
				</div>
				<div class="row">
					<h4>Challenge</h4>
					<a ng-repeat="user in userRank"><button class="btn" ng-click="challengeUser(user)">Challenge</button></a>
				</div>
			</div>
		</div>
		<div class="group">
			<h2>Bot Rank</h2>
			<div class="justified">
				<div class="row">
					<h4>Bot Name</h4>
					<h6 ng-repeat="bot in botRank">{{bot.botname}}</h6>
				</div>
				<div class="row">
					<h4>Wins</h4>
					<h6 ng-repeat="bot in botRank">{{bot.wins}}</h6>
				</div>
				<div class="row">
					<h4>Points</h4>
					<h6 ng-repeat="bot in botRank">{{bot.points}}</h6>
				</div>
				<div class="row">
					<h4>Battles</h4>
					<h6 ng-repeat="bot in botRank">{{bot.battles}}</h6>
				</div>
				<div class="row">
					<h4>Fork</h4>
					<a ng-repeat="bot in botRank"><button class="btn" ng-click="forkBot(bot)">Fork</button></a>
				</div>
			</div>	
		</div>
	</div>
</div>
</section>