<section id="events"> 
	<div ng-controller="mainEventCtrl">
		<div id="center" ng-controller="EventsController" ng-hide="false" ng-model="eventsObj" class="justified">
			<div class="group">
				<h2 ng-click="setCurrentEvent('live')">Live Events</h2>
				<div ng-if="currentEvent==='live'" class="justified eventModal">
					<div class="row">
						<h4>Host Player</h4>
						<h6 ng-repeat="user in userRank">{{event.p1_user_name}}</h6>
					</div>
					<div class="row">
						<h4>Rank</h4>
						<h6 ng-repeat="user in userRank">{{event.p1_rank}}</h6>
					</div>
					<div class="row" ng-repeat="user in userRank">
					<h4>VS</h4>
					</div>
					<div class="row">
						<h4>Challenger</h4>
						<h6 ng-repeat="user in userRank">{{event.p2_user_name}}</h6>
					</div>
					<div class="row">
						<h4>Rank</h4>
						<h6 ng-repeat="user in userRank">{{event.p2_rank}}</h6>
					</div>
					<div class="row">
						<h4>Challenge</h4>
						<a ng-repeat="user in userRank"><button class="btn" ng-click="challengeUser(user)">Challenge</button></a>
					</div>
					<div class="row">
						<h4>Watch</h4>
						<a ng-show="!event.owner"ng-repeat="user in userRank"><button class="btn" ng-click="watch(event)">Watch</button></a>
					</div>
				</div>	
			</div>
			<div class="group">
				<h2 ng-click="setCurrentEvent('arena')" >Available Arenas</h2>
				<div ng-if="currentEvent==='arena'" class="justified eventModal">
					<div class="row">
						<h4>Host Player</h4>
						<h6 ng-repeat="event in pendingEvents">{{event.createdBy.username}}</h6>
					</div>
					<div class="row">
						<h4>Rank</h4>
						<h6 ng-repeat="event in pendingEvents">{{event.createdBy.rank}}</h6>
					</div>
					<div class="row">
						<h4>Specifications</h4>
						<h6 ng-repeat="event in pendingEvents">{{event.specs}}</h6>
					</div>
					<div class="row">
						<h4>Empty Slots</h4>
						<h6 ng-repeat="event in pendingEvents">{{event.slots}}</h6>
					</div>
					<div class="row">
						<h4>Launch</h4>
						<div ng-repeat="event in pendingEvents" class="justified">
							<button ng-hide="playCanvasURL"class="btn" ng-click="joinEvent($index)">
								Launch
							</button>
						</div>
					</div>
					<div class="row">
						<h4>Forfiet</h4>
						<div ng-repeat="event in pendingEvents" class="justified">
							<button ng-hide="!!playCanvasURL" class="btn" ng-click="deleteEvent($index)">
								Forfeit
							</button>
						</div>	
					</div>
				</div>	
			</div>	
			<div class="group">
				<h2 ng-click="setCurrentEvent('host')" >Host New Match</h2>
				<div  ng-if="currentEvent==='host'" class="eventModal justified">
					<div class="row">
						<button ng-hide="data.createEvent" class="btn" ng-click="data.createEvent = true">
					Create a new event</button>
					</div>		
					<div class="row">
						<button ng-click="createNewChallenge()" class="btn" >Challenge</button>
					</div>	
				</div>	
				<div>
					<h2 ng-show="data.createEvent">New Event</h2>
					<form ng-show="data.createEvent" ng-submit="createNewEvent(data)">
						<textarea rows="6" cols="50" placeholder="Player Preferences" ng-model="data.specs"></textarea>
						<input required placeholder="Open Slots" ng-model="data.slots" size="10"></input>
						<button type="submit" class="btn btn-default">Confirm Creation</button>
					</form>
					<div ng-if="eventLaunched" ng-controller="PlayCanvasCtrl" class="col-lg-12 col-sm-12">
						<iframe ng-src="{{playCanvasURL}}" style="width:100%;height:500px;"></iframe>
					</div>
				</div>
			</div>		
			<div class="group">
				<h2 ng-click="setCurrentEvent('challenges')">Challenges</h2>
				<div ng-if="currentEvent==='challenges'" class="justified eventModal">
					<div class="row">
						<h4>Challenger</h4>
						<h6 ng-repeat="challenge in challenges">{{challenge.challenger.username}}</h6>
					</div>
					<div class="row">
						<h4>Rank</h4>
						<h6 ng-repeat="challenge in challenges">{{challenge.challenger.rank}}</h6>
					</div>
					<div class="row">
						<h4>Challenged</h4>
						<h6 ng-repeat="challenge in challenges">{{challenge.challenged.username}}</h6>
					</div>
					<div class="row">
						<h4>Rank</h4>
						<h6 ng-repeat="challenge in challenges">{{challenge.challenged.rank}}</h6>
					</div>
					<div class="row">
						<h4>Time DeadLine</h4>
						<h6 ng-repeat="challenge in challenges">{{challenge.deadline}}</h6>
					</div>
					<div class="row">
						<h4>Status</h4>
						<h6 ng-repeat="challenge in challenges">{{challenge.accepted}}</h6>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>