<section id="userProfile"> 
<div class="container">
	<div class="col-lg-12 col-sm-12">
		<div class="row">
		<h2>Challenges</h2>
		<table>
			<tr>
				<th>Challenger</th><th>Rank</th><th>Challenged</th><th>Rank</th>
				<th>Time DeadLine</th><th></th>
			</tr>
			<tr ng-repeat="challenge in challenges" ng-controller="UserProfileController">
				<!-- Showing challenges of the specific user-->
				<td>{{challenge.challenger.username}}</td>
				<td>{{challenge.challenger.rank}}</td>
				<td>{{challenge.challenged.username}}</td>
				<td>{{challenge.challenged.rank}}</td>
				<td>{{challenge.deadLine}}</td>
				<td><a ng-if="!challenge.accepted"><button ng-click="acceptChallenge(challenge)">Accept</button></a><span ng-if="challenge.accepted">Accepted!!</span></td>
			</tr>
		</table>
		
	</div>
	
	<hr>
	
	<div class="row">
		<h2>My Bots</h2>
		<table  ng-repeat="bot in botList" ng-controller="UserProfileController">
			<tr>
				<th>Bot Name</th>
				<th>Battles</th>
				<th>Points</th>
				<th>Wins</th>
				<th>Times Forked</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr>
				<td>{{bot.username}}</td>
				<td>{{bot.battles}}</td>
				<td>{{bot.points}}</td>
				<td>{{bot.wins}}</td>
				<td>{{bot.forked}}</td>
				<td><a ng-click="editBot(bot)">Edit</a></td>
				<td><button ng-click="deleteBot($index)">Delete</button></td>
			</tr>
		</table>
		<hr>
		<a ui-sref="editor"><button>Create New Bot</button></a>
	</div>
	</div>
	
</div>
</section>